.sidebarWrp {
    border: 1px solid #cecece;
    margin-left: auto;
    flex: 0 0 300px;
}

.navbarTop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    background-color: rgb(245, 244, 244);
}

.navbarTopItem {
    text-align: center;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(119, 119, 119);
    margin: 0 10px;
    border: none;
    background: none;
    padding: 5px 20px;
    opacity: 0.6;
}

.active {
    color: rgb(71, 71, 71);
    text-decoration: underline;
    transition: color 0.5s ease-in-out;
    opacity: 1;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex: 1 1 100%;
    margin: 10px 0;
    height: 54px;
    overflow: hidden;
}

.itemIconWrp {
    display: block;
    flex: 0 0 50px;
    height: 50px;
    margin: 0 10px;
}

.itemIcon {
    font-size: 50px;
}

.itemLabel {
    font-weight: bold;
    color: #111;
}

.itemDesc {
    font-size: 14px;
    line-height: 1.1;
}

.editorBody {
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    height: calc(100% - 71px);
    @media (max-width: 992px) {
    	height: calc(100% - 141px);
  	}
}

.splitPane {
    display: flex;
    flex: 1 1 0%;
    height: 100%;
    position: initial;
    outline: none;
    overflow: hidden;
    user-select: text;
    flex-direction: row;
    left: 0px;
    right: 0px;
}

.paneVerticalLeft {
    flex: 1 1 0%;
    position: relative;
}

.paneHorizontal {
    display: flex;
    flex: 1 1 0%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    flex-direction: column;
    min-height: 100%;
    top: 0px;
    width: 100%;
}

.paneVerticalRight {
    z-index: 800;
    flex: 0 0 auto;
    position: relative;
    outline: none;
    width: 300px;
}

.dropArea {
    flex: 1;
    background-color: #cecece;
    position: relative;
    min-height: 400px;
    max-height: 100vh;
    overflow: auto;
    @media (max-height: 768px) {
    	min-height: 350px;
  	}
}

.constructorArea {
    z-index: 1000;
    flex: 1 1 0%;
    position: relative;
    outline: none;
    display: flex;
    overflow: auto;
}
