.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid #eaeaea;
}

.app-main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.main-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.child {
  width: 125px;
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 1px 9px -1px rgba(0, 0, 0, 0.41);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;

  .action {
    color: #2e2e2e;

    &:focus,
    &:active,
    &:hover {
      color: #000000;
      text-decoration: underline;
      outline: none;
    }

    .app-editor {
      color: #2e2e2e;

      &:focus,
      &:active,
      &:hover {
        color: #000000;
        text-decoration: underline;
        outline: none;
      }
    }
  }

  .delete {
    color: red;

    &:focus,
    &:active,
    &:hover {
      text-decoration: underline;
      outline: none;
    }
  }

  span {
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 15px;


    .linklike:hover,
    .linklike:visited,
    .linklike:link,
    .linklike:active {
      color: red;
      text-decoration: none;
      border: none;
    }
  }

  span:last-child {
    color: red;
    margin-bottom: 0;
  }
}

.none {
  display: flex;
}
