.queryList{
  margin-top: 15px;
  margin-bottom: 15px;
}
.queryList button{
  background-color: #d9d9d9!important;
  border-color: black!important;
  color: black!important;
  width: 150px;
}
.queryList button::after,.queryList button::after{
  content: none;
}
