.dropMenuChange{
  position: absolute;
  background-color: white!important;
}
.dropMenuChange button{
  background-color: white!important;
  width: 400px;
  border-color: #d9d9d9!important;
}
.triggerArray{
  display: flex;
  word-wrap: break-word;
  flex-direction: row;
  height: 38px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  vertical-align: baseline;
  position: absolute;
  top:0;
}
.triggerArray li{
  display: flex;
  height: 24px;
  flex-direction: row;
  border-color: #d9d9d9;
  border-radius: 5px;
  font-size: 15px;
  background-color: #d6d8d8;
  margin-left: 5px;
  padding: 0;
  list-style: none;
}
.filterWrapper{
  position: relative;
  margin-left: 20px;
  width: 400px;
  height: 38px;
}
