.container {
  width: 320px;
  height: 400px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  color: rgb(83, 83, 83);
  padding-top: 10px;
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.41);
  border-radius: 3px;
}

.block {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 10px 20px;
}

.line {
  flex-direction: row;
}

.block>span {
  margin: 0 10px 13px 0;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
}

.block>span>svg {
  margin-right: 8px;
}

.block:last-child {
  border-bottom: none;
}

.block:nth-child(3) {
  padding: 10px 0 5px 15px;
}

.primary {
  font-weight: 600;
  color: #000;
  cursor: default !important;
  user-select: text !important;
}

.secondary {
  color: rgb(143, 143, 143);
  cursor: default !important;
  user-select: text !important;
  padding-left: 10px;
}

.image {
  background-color: rgb(0, 167, 0);
  width: 50px;
  height: 50px;
  margin: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  user-select: none;
}

.link {
  color: rgb(98, 176, 212)
}
