.child {
  width: 125px;
  position: fixed;
  display: none;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 1px 1px 9px -1px rgba(0,0,0,0.41);
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;

  span {
    cursor: pointer;
    margin-bottom: 3px;
    font-size: 15px;

    .linklike:hover, .linklike:visited, .linklike:link, .linklike:active
    {
      color: #000;
      text-decoration: none;
      border: none;
    }
  }

  span:last-child {
    color: red;
    margin-bottom: 0;
  }
}

.none {
  display: flex;
}

