.main {
  height: calc(100vh - 7rem);
  overflow-y: auto;

  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.footer {
  margin-top: 1rem;
}

.requiredProperty {
  font-weight: 600;
  font-family: var(--secondary-font-family), sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 5px;
  margin-left: 1px;

  &::before {
    content: '* ';
    color: #dc3545;
  }
}


.errorMessage {
  color: #dc3545
}
