.appEditor {
  width: 100%;
  height: 100%;
}
.editQuery{
  width: 100%;
  height: 400px;
}
.header{
  height: 4rem;
  width: 100%;
}
.dropButton,.dropButton>a{
  position: absolute!important;
  width: 93px;
  height: 71px;
}
.goToHome{
  display: flex;
  justify-content: center;
  color: black!important;
}
.nameFill{
  border: none!important;
  font-weight: 500!important;
  font-size: 1.2rem;
  min-height: 28px;
  background-color: #f8f9fa!important;
  margin-right: 30px;
}
.nameFill:hover{
  background-color: #d9d9d9!important;
}
.leftNav{
  max-width: 300px;
  min-width: 300px;
}
