.label {
    display: none;
    position: absolute;
    left: 0;
    top: -25px;
    background: rgb(86, 96, 100);
    color: #FFF;
    padding: 3px 5px 2px;
}

.activeLabel {
    display: block;
}

.active {
    border: 1px solid blue;
}

.dropArea {
    height: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}